<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class</key>
		<array>
			<string>餐饮美食</string>
			<string>休闲娱乐</string>
			<string>酒店</string>
			<string>生活服务</string>
			<string>本地购物</string>
			<string>丽人美妆</string>
		</array>
		<key>start</key>
		<string>餐饮美食</string>
		<key>code</key>
		<array>
			<string>聚餐宴请</string>
			<string>火锅</string>
			<string>自助餐</string>
			<string>小吃快餐</string>
			<string>日韩料理</string>
			<string>西餐</string>
			<string>烧烤烤肉</string>
			<string>香锅烤鱼</string>
			<string>中式烧烤</string>
			<string>烤串海鲜</string>
			<string>汤粥炖菜</string>
			<string>其他美食</string>
		</array>
	</dict>
	<dict>
		<key>start</key>
		<string>休闲娱乐</string>
		<key>code</key>
		<array>
			<string>KTV</string>
			<string>电影</string>
			<string>其他娱乐</string>
			<string>运动健身</string>
			<string>足疗按摩</string>
			<string>洗浴干蒸</string>
			<string>酒吧</string>
			<string>咖啡</string>
			<string>茶馆</string>
		</array>
	</dict>
	<dict>
		<key>start</key>
		<string>酒店</string>
		<key>code</key>
		<array>
			<string>经济型酒店</string>
			<string>主题酒店</string>
			<string>商务酒店</string>
			<string>公寓</string>
			<string>豪华酒店</string>
			<string>客栈</string>
			<string>青年旅社</string>
			<string>度假酒店</string>
			<string>别墅</string>
			<string>农家院</string>
		</array>
	</dict>
	<dict>
		<key>start</key>
		<string>生活服务</string>
		<key>code</key>
		<array>
			<string>婚纱摄影</string>
			<string>亲子摄影</string>
			<string>培训课程</string>
			<string>汽车服务</string>
			<string>体检齿科</string>
			<string>衣物洗护</string>
			<string>鲜花</string>
			<string>母婴亲子</string>
			<string>配镜</string>
			<string>照片冲印</string>
			<string>服饰鞋包</string>
			<string>电器数码</string>
		</array>
	</dict>
	<dict>
		<key>start</key>
		<string>本地购物</string>
		<key>code</key>
		<array>
			<string>女装</string>
			<string>男装</string>
			<string>内衣</string>
			<string>食品</string>
			<string>家居日用</string>
			<string>美妆</string>
			<string>运动户外</string>
			<string>配饰手表</string>
			<string>母婴玩具</string>
			<string>数码电器</string>
			<string>家具</string>
			<string>家纺</string>
			<string>家装</string>
			<string>建材</string>
			<string>汽车用品</string>
		</array>
	</dict>
	<dict>
		<key>start</key>
		<string>丽人</string>
		<key>code</key>
		<array>
			<string>美发</string>
			<string>美容美体</string>
			<string>美甲美睫</string>
			<string>瑜伽舞蹈</string>
			<string>瘦身纤体</string>
			<string>韩式定妆</string>
			<string>祛痘纹身</string>
			<string>其他美容</string>
		</array>
	</dict>
</array>
</plist>
